.dashboard-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.task-box {
    position: relative;
    padding: 20px 30px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.task-box-icon {
    position: absolute;
    bottom: 20px;
    right: 30px;
}

.nav-banner {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}